includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/bitexpert/phpstan-sylius/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Behat
        - tests/Functional
        - tests/Unit

    excludePaths:
        # Test dependencies
        - 'tests/TestApplication/src/**.php'

    ignoreErrors:
        -
            identifier: missingType.iterableValue
